:root {
    --color01: #ffffff;
    --color01: #ff5f00;
    --color01: #9d7b29;
    --color01: #ffc701;
    --color01: #fce300;
    --color01: #201b10;
    --color01: #faf4ce;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 500px;
    height: 500px;
    background: var(--grayback);
}
.box-1 {
    grid-area: A;
}
.box-2 {
    grid-area: B;
}
.box-3 {
    grid-area: C;
}

.pixelart-to-css {
    box-shadow: 16px 16px 0 0 rgba(255, 255, 255, 1),
        32px 16px 0 0 rgba(255, 255, 255, 1),
        48px 16px 0 0 rgba(255, 255, 255, 1),
        64px 16px 0 0 rgba(255, 255, 255, 1),
        80px 16px 0 0 rgba(255, 255, 255, 1),
        96px 16px 0 0 rgba(255, 255, 255, 1),
        112px 16px 0 0 rgba(255, 255, 255, 1),
        128px 16px 0 0 rgba(255, 255, 255, 1),
        144px 16px 0 0 rgba(255, 255, 255, 1),
        160px 16px 0 0 rgba(255, 255, 255, 1),
        176px 16px 0 0 rgba(255, 255, 255, 1),
        192px 16px 0 0 rgba(255, 255, 255, 1),
        208px 16px 0 0 rgba(255, 255, 255, 1),
        224px 16px 0 0 rgba(255, 255, 255, 1),
        240px 16px 0 0 rgba(255, 255, 255, 1),
        256px 16px 0 0 rgba(255, 255, 255, 1),
        272px 16px 0 0 rgba(255, 255, 255, 1),
        288px 16px 0 0 rgba(255, 255, 255, 1),
        304px 16px 0 0 rgba(255, 255, 255, 1),
        320px 16px 0 0 rgba(255, 255, 255, 1),
        336px 16px 0 0 rgba(255, 255, 255, 1),
        352px 16px 0 0 rgba(255, 255, 255, 1),
        368px 16px 0 0 rgba(255, 255, 255, 1),
        384px 16px 0 0 rgba(255, 255, 255, 1),
        400px 16px 0 0 rgba(255, 255, 255, 1),
        416px 16px 0 0 rgba(255, 255, 255, 1),
        432px 16px 0 0 rgba(255, 255, 255, 1),
        448px 16px 0 0 rgba(255, 255, 255, 1),
        464px 16px 0 0 rgba(255, 255, 255, 1),
        480px 16px 0 0 rgba(255, 255, 255, 1),
        496px 16px 0 0 rgba(255, 255, 255, 1),
        512px 16px 0 0 rgba(255, 255, 255, 1),
        16px 32px 0 0 rgba(255, 255, 255, 1),
        32px 32px 0 0 rgba(255, 255, 255, 1),
        48px 32px 0 0 rgba(255, 255, 255, 1),
        64px 32px 0 0 rgba(255, 255, 255, 1),
        80px 32px 0 0 rgba(255, 255, 255, 1),
        96px 32px 0 0 rgba(255, 255, 255, 1),
        112px 32px 0 0 rgba(255, 255, 255, 1),
        128px 32px 0 0 rgba(255, 255, 255, 1),
        144px 32px 0 0 rgba(255, 255, 255, 1),
        160px 32px 0 0 rgba(255, 255, 255, 1),
        176px 32px 0 0 rgba(255, 255, 255, 1),
        192px 32px 0 0 rgba(255, 255, 255, 1),
        208px 32px 0 0 rgba(255, 255, 255, 1),
        224px 32px 0 0 rgba(255, 255, 255, 1),
        240px 32px 0 0 rgba(255, 255, 255, 1),
        256px 32px 0 0 rgba(255, 255, 255, 1),
        272px 32px 0 0 rgba(255, 255, 255, 1),
        288px 32px 0 0 rgba(255, 255, 255, 1),
        304px 32px 0 0 rgba(255, 255, 255, 1),
        320px 32px 0 0 rgba(255, 255, 255, 1),
        336px 32px 0 0 rgba(255, 255, 255, 1),
        352px 32px 0 0 rgba(255, 255, 255, 1),
        368px 32px 0 0 rgba(255, 255, 255, 1),
        384px 32px 0 0 rgba(255, 255, 255, 1),
        400px 32px 0 0 rgba(255, 255, 255, 1),
        416px 32px 0 0 rgba(255, 87, 34, 1),
        432px 32px 0 0 rgba(255, 255, 255, 1),
        448px 32px 0 0 rgba(255, 87, 34, 1),
        464px 32px 0 0 rgba(255, 255, 255, 1),
        480px 32px 0 0 rgba(255, 255, 255, 1),
        496px 32px 0 0 rgba(255, 255, 255, 1),
        512px 32px 0 0 rgba(255, 255, 255, 1),
        16px 48px 0 0 rgba(255, 255, 255, 1),
        32px 48px 0 0 rgba(255, 255, 255, 1),
        48px 48px 0 0 rgba(255, 255, 255, 1),
        64px 48px 0 0 rgba(255, 255, 255, 1),
        80px 48px 0 0 rgba(255, 255, 255, 1),
        96px 48px 0 0 rgba(255, 255, 255, 1),
        112px 48px 0 0 rgba(255, 255, 255, 1),
        128px 48px 0 0 rgba(255, 255, 255, 1),
        144px 48px 0 0 rgba(255, 255, 255, 1),
        160px 48px 0 0 rgba(255, 255, 255, 1),
        176px 48px 0 0 rgba(255, 255, 255, 1),
        192px 48px 0 0 rgba(255, 255, 255, 1),
        208px 48px 0 0 rgba(255, 255, 255, 1),
        224px 48px 0 0 rgba(255, 255, 255, 1),
        240px 48px 0 0 rgba(255, 255, 255, 1),
        256px 48px 0 0 rgba(255, 255, 255, 1),
        272px 48px 0 0 rgba(255, 255, 255, 1),
        288px 48px 0 0 rgba(255, 255, 255, 1),
        304px 48px 0 0 rgba(255, 255, 255, 1),
        320px 48px 0 0 rgba(255, 255, 255, 1),
        336px 48px 0 0 rgba(255, 255, 255, 1),
        352px 48px 0 0 rgba(255, 255, 255, 1),
        368px 48px 0 0 rgba(255, 255, 255, 1),
        384px 48px 0 0 rgba(255, 255, 255, 1),
        400px 48px 0 0 rgba(255, 87, 34, 1), 416px 48px 0 0 rgba(255, 87, 34, 1),
        432px 48px 0 0 rgba(255, 87, 34, 1), 448px 48px 0 0 rgba(255, 87, 34, 1),
        464px 48px 0 0 rgba(255, 87, 34, 1),
        480px 48px 0 0 rgba(255, 255, 255, 1),
        496px 48px 0 0 rgba(255, 255, 255, 1),
        512px 48px 0 0 rgba(255, 255, 255, 1),
        16px 64px 0 0 rgba(255, 255, 255, 1),
        32px 64px 0 0 rgba(255, 255, 255, 1),
        48px 64px 0 0 rgba(255, 255, 255, 1),
        64px 64px 0 0 rgba(255, 255, 255, 1),
        80px 64px 0 0 rgba(255, 255, 255, 1),
        96px 64px 0 0 rgba(255, 255, 255, 1),
        112px 64px 0 0 rgba(255, 255, 255, 1),
        128px 64px 0 0 rgba(255, 255, 255, 1),
        144px 64px 0 0 rgba(255, 255, 255, 1),
        160px 64px 0 0 rgba(255, 255, 255, 1),
        176px 64px 0 0 rgba(255, 255, 255, 1),
        192px 64px 0 0 rgba(255, 255, 255, 1),
        208px 64px 0 0 rgba(255, 255, 255, 1),
        224px 64px 0 0 rgba(255, 255, 255, 1),
        240px 64px 0 0 rgba(255, 255, 255, 1),
        256px 64px 0 0 rgba(255, 255, 255, 1),
        272px 64px 0 0 rgba(255, 255, 255, 1),
        288px 64px 0 0 rgba(255, 255, 255, 1),
        304px 64px 0 0 rgba(255, 255, 255, 1),
        320px 64px 0 0 rgba(255, 255, 255, 1),
        336px 64px 0 0 rgba(255, 255, 255, 1),
        352px 64px 0 0 rgba(255, 255, 255, 1),
        368px 64px 0 0 rgba(255, 255, 255, 1),
        384px 64px 0 0 rgba(255, 255, 255, 1),
        400px 64px 0 0 rgba(255, 87, 34, 1), 416px 64px 0 0 rgba(255, 87, 34, 1),
        432px 64px 0 0 rgba(255, 87, 34, 1), 448px 64px 0 0 rgba(255, 87, 34, 1),
        464px 64px 0 0 rgba(255, 87, 34, 1),
        480px 64px 0 0 rgba(255, 255, 255, 1),
        496px 64px 0 0 rgba(255, 255, 255, 1),
        512px 64px 0 0 rgba(255, 255, 255, 1),
        16px 80px 0 0 rgba(255, 255, 255, 1),
        32px 80px 0 0 rgba(255, 255, 255, 1),
        48px 80px 0 0 rgba(255, 255, 255, 1),
        64px 80px 0 0 rgba(255, 255, 255, 1),
        80px 80px 0 0 rgba(255, 255, 255, 1),
        96px 80px 0 0 rgba(255, 255, 255, 1),
        112px 80px 0 0 rgba(255, 255, 255, 1),
        128px 80px 0 0 rgba(255, 255, 255, 1),
        144px 80px 0 0 rgba(255, 255, 255, 1),
        160px 80px 0 0 rgba(255, 255, 255, 1),
        176px 80px 0 0 rgba(255, 255, 255, 1),
        192px 80px 0 0 rgba(255, 255, 255, 1),
        208px 80px 0 0 rgba(255, 255, 255, 1),
        224px 80px 0 0 rgba(255, 255, 255, 1),
        240px 80px 0 0 rgba(255, 255, 255, 1),
        256px 80px 0 0 rgba(255, 255, 255, 1),
        272px 80px 0 0 rgba(255, 255, 255, 1),
        288px 80px 0 0 rgba(255, 255, 255, 1),
        304px 80px 0 0 rgba(255, 255, 255, 1),
        320px 80px 0 0 rgba(255, 255, 255, 1),
        336px 80px 0 0 rgba(255, 255, 255, 1),
        352px 80px 0 0 rgba(255, 255, 255, 1),
        368px 80px 0 0 rgba(255, 255, 255, 1),
        384px 80px 0 0 rgba(255, 255, 255, 1),
        400px 80px 0 0 rgba(255, 255, 255, 1),
        416px 80px 0 0 rgba(255, 87, 34, 1), 432px 80px 0 0 rgba(255, 87, 34, 1),
        448px 80px 0 0 rgba(255, 87, 34, 1),
        464px 80px 0 0 rgba(255, 255, 255, 1),
        480px 80px 0 0 rgba(255, 255, 255, 1),
        496px 80px 0 0 rgba(255, 255, 255, 1),
        512px 80px 0 0 rgba(255, 255, 255, 1),
        16px 96px 0 0 rgba(255, 255, 255, 1),
        32px 96px 0 0 rgba(255, 255, 255, 1),
        48px 96px 0 0 rgba(255, 255, 255, 1),
        64px 96px 0 0 rgba(255, 255, 255, 1),
        80px 96px 0 0 rgba(255, 255, 255, 1),
        96px 96px 0 0 rgba(255, 255, 255, 1),
        112px 96px 0 0 rgba(255, 255, 255, 1),
        128px 96px 0 0 rgba(255, 255, 255, 1),
        144px 96px 0 0 rgba(255, 255, 255, 1),
        160px 96px 0 0 rgba(255, 255, 255, 1),
        176px 96px 0 0 rgba(255, 255, 255, 1),
        192px 96px 0 0 rgba(255, 255, 255, 1),
        208px 96px 0 0 rgba(255, 255, 255, 1),
        224px 96px 0 0 rgba(255, 255, 255, 1),
        240px 96px 0 0 rgba(255, 255, 255, 1),
        256px 96px 0 0 rgba(255, 255, 255, 1),
        272px 96px 0 0 rgba(255, 255, 255, 1),
        288px 96px 0 0 rgba(255, 255, 255, 1),
        304px 96px 0 0 rgba(255, 255, 255, 1),
        320px 96px 0 0 rgba(255, 255, 255, 1),
        336px 96px 0 0 rgba(255, 255, 255, 1),
        352px 96px 0 0 rgba(255, 255, 255, 1),
        368px 96px 0 0 rgba(255, 255, 255, 1),
        384px 96px 0 0 rgba(255, 255, 255, 1),
        400px 96px 0 0 rgba(255, 255, 255, 1),
        416px 96px 0 0 rgba(255, 255, 255, 1),
        432px 96px 0 0 rgba(255, 87, 34, 1),
        448px 96px 0 0 rgba(255, 255, 255, 1),
        464px 96px 0 0 rgba(255, 255, 255, 1),
        480px 96px 0 0 rgba(255, 255, 255, 1),
        496px 96px 0 0 rgba(255, 255, 255, 1),
        512px 96px 0 0 rgba(255, 255, 255, 1),
        16px 112px 0 0 rgba(255, 255, 255, 1),
        32px 112px 0 0 rgba(255, 255, 255, 1),
        48px 112px 0 0 rgba(255, 255, 255, 1),
        64px 112px 0 0 rgba(255, 255, 255, 1),
        80px 112px 0 0 rgba(255, 255, 255, 1),
        96px 112px 0 0 rgba(255, 255, 255, 1),
        112px 112px 0 0 rgba(255, 255, 255, 1),
        128px 112px 0 0 rgba(255, 255, 255, 1),
        144px 112px 0 0 rgba(255, 255, 255, 1),
        160px 112px 0 0 rgba(255, 255, 255, 1),
        176px 112px 0 0 rgba(255, 255, 255, 1),
        192px 112px 0 0 rgba(255, 255, 255, 1),
        208px 112px 0 0 rgba(255, 255, 255, 1),
        224px 112px 0 0 rgba(255, 255, 255, 1),
        240px 112px 0 0 rgba(255, 255, 255, 1),
        256px 112px 0 0 rgba(255, 255, 255, 1),
        272px 112px 0 0 rgba(255, 255, 255, 1),
        288px 112px 0 0 rgba(255, 255, 255, 1),
        304px 112px 0 0 rgba(255, 255, 255, 1),
        320px 112px 0 0 rgba(255, 255, 255, 1),
        336px 112px 0 0 rgba(255, 255, 255, 1),
        352px 112px 0 0 rgba(255, 255, 255, 1),
        368px 112px 0 0 rgba(255, 255, 255, 1),
        384px 112px 0 0 rgba(255, 255, 255, 1),
        400px 112px 0 0 rgba(255, 255, 255, 1),
        416px 112px 0 0 rgba(255, 255, 255, 1),
        432px 112px 0 0 rgba(255, 255, 255, 1),
        448px 112px 0 0 rgba(255, 255, 255, 1),
        464px 112px 0 0 rgba(255, 255, 255, 1),
        480px 112px 0 0 rgba(255, 255, 255, 1),
        496px 112px 0 0 rgba(255, 255, 255, 1),
        512px 112px 0 0 rgba(255, 255, 255, 1),
        16px 128px 0 0 rgba(255, 255, 255, 1),
        32px 128px 0 0 rgba(255, 255, 255, 1),
        48px 128px 0 0 rgba(255, 255, 255, 1),
        64px 128px 0 0 rgba(255, 255, 255, 1),
        80px 128px 0 0 rgba(255, 255, 255, 1),
        96px 128px 0 0 rgba(255, 255, 255, 1),
        112px 128px 0 0 rgba(255, 255, 255, 1),
        128px 128px 0 0 rgba(255, 255, 255, 1),
        144px 128px 0 0 rgba(255, 255, 255, 1),
        160px 128px 0 0 rgba(255, 255, 255, 1),
        176px 128px 0 0 rgba(255, 255, 255, 1),
        192px 128px 0 0 rgba(255, 255, 255, 1),
        208px 128px 0 0 rgba(255, 255, 255, 1),
        224px 128px 0 0 rgba(255, 255, 255, 1),
        240px 128px 0 0 rgba(255, 255, 255, 1),
        256px 128px 0 0 rgba(255, 255, 255, 1),
        272px 128px 0 0 rgba(255, 255, 255, 1),
        288px 128px 0 0 rgba(255, 255, 255, 1),
        304px 128px 0 0 rgba(255, 255, 255, 1),
        320px 128px 0 0 rgba(255, 255, 255, 1),
        336px 128px 0 0 rgba(255, 255, 255, 1),
        352px 128px 0 0 rgba(255, 255, 255, 1),
        368px 128px 0 0 rgba(255, 255, 255, 1),
        384px 128px 0 0 rgba(255, 255, 255, 1),
        400px 128px 0 0 rgba(255, 255, 255, 1),
        416px 128px 0 0 rgba(255, 255, 255, 1),
        432px 128px 0 0 rgba(255, 255, 255, 1),
        448px 128px 0 0 rgba(255, 255, 255, 1),
        464px 128px 0 0 rgba(255, 87, 34, 1),
        480px 128px 0 0 rgba(255, 255, 255, 1),
        496px 128px 0 0 rgba(255, 87, 34, 1),
        512px 128px 0 0 rgba(255, 255, 255, 1),
        16px 144px 0 0 rgba(255, 255, 255, 1),
        32px 144px 0 0 rgba(255, 255, 255, 1),
        48px 144px 0 0 rgba(255, 255, 255, 1),
        64px 144px 0 0 rgba(255, 255, 255, 1),
        80px 144px 0 0 rgba(255, 255, 255, 1),
        96px 144px 0 0 rgba(255, 255, 255, 1),
        112px 144px 0 0 rgba(255, 255, 255, 1),
        128px 144px 0 0 rgba(255, 255, 255, 1),
        144px 144px 0 0 rgba(255, 255, 255, 1),
        160px 144px 0 0 rgba(255, 255, 255, 1),
        176px 144px 0 0 rgba(255, 255, 255, 1),
        192px 144px 0 0 rgba(255, 255, 255, 1),
        208px 144px 0 0 rgba(255, 255, 255, 1),
        224px 144px 0 0 rgba(255, 255, 255, 1),
        240px 144px 0 0 rgba(255, 255, 255, 1),
        256px 144px 0 0 rgba(255, 255, 255, 1),
        272px 144px 0 0 rgba(255, 255, 255, 1),
        288px 144px 0 0 rgba(255, 255, 255, 1),
        304px 144px 0 0 rgba(0, 150, 136, 1),
        320px 144px 0 0 rgba(0, 150, 136, 1),
        336px 144px 0 0 rgba(0, 150, 136, 1),
        352px 144px 0 0 rgba(0, 150, 136, 1),
        368px 144px 0 0 rgba(0, 150, 136, 1),
        384px 144px 0 0 rgba(255, 255, 255, 1),
        400px 144px 0 0 rgba(255, 255, 255, 1),
        416px 144px 0 0 rgba(255, 255, 255, 1),
        432px 144px 0 0 rgba(255, 255, 255, 1),
        448px 144px 0 0 rgba(255, 87, 34, 1),
        464px 144px 0 0 rgba(255, 87, 34, 1),
        480px 144px 0 0 rgba(255, 87, 34, 1),
        496px 144px 0 0 rgba(255, 87, 34, 1),
        512px 144px 0 0 rgba(255, 87, 34, 1),
        16px 160px 0 0 rgba(255, 255, 255, 1),
        32px 160px 0 0 rgba(255, 255, 255, 1),
        48px 160px 0 0 rgba(255, 255, 255, 1),
        64px 160px 0 0 rgba(255, 255, 255, 1),
        80px 160px 0 0 rgba(255, 255, 255, 1),
        96px 160px 0 0 rgba(255, 255, 255, 1),
        112px 160px 0 0 rgba(255, 255, 255, 1),
        128px 160px 0 0 rgba(255, 255, 255, 1),
        144px 160px 0 0 rgba(255, 255, 255, 1),
        160px 160px 0 0 rgba(255, 255, 255, 1),
        176px 160px 0 0 rgba(255, 255, 255, 1),
        192px 160px 0 0 rgba(255, 255, 255, 1),
        208px 160px 0 0 rgba(255, 255, 255, 1),
        224px 160px 0 0 rgba(255, 255, 255, 1),
        240px 160px 0 0 rgba(255, 255, 255, 1),
        256px 160px 0 0 rgba(255, 255, 255, 1),
        272px 160px 0 0 rgba(255, 255, 255, 1),
        288px 160px 0 0 rgba(0, 150, 136, 1),
        304px 160px 0 0 rgba(121, 85, 72, 1),
        320px 160px 0 0 rgba(255, 235, 59, 1),
        336px 160px 0 0 rgba(255, 235, 59, 1),
        352px 160px 0 0 rgba(255, 235, 59, 1),
        368px 160px 0 0 rgba(121, 85, 72, 1),
        384px 160px 0 0 rgba(0, 150, 136, 1),
        400px 160px 0 0 rgba(0, 150, 136, 1),
        416px 160px 0 0 rgba(255, 255, 255, 1),
        432px 160px 0 0 rgba(255, 255, 255, 1),
        448px 160px 0 0 rgba(255, 87, 34, 1),
        464px 160px 0 0 rgba(255, 87, 34, 1),
        480px 160px 0 0 rgba(255, 87, 34, 1),
        496px 160px 0 0 rgba(255, 87, 34, 1),
        512px 160px 0 0 rgba(255, 87, 34, 1),
        16px 176px 0 0 rgba(255, 255, 255, 1),
        32px 176px 0 0 rgba(255, 255, 255, 1),
        48px 176px 0 0 rgba(255, 255, 255, 1),
        64px 176px 0 0 rgba(255, 255, 255, 1),
        80px 176px 0 0 rgba(255, 255, 255, 1),
        96px 176px 0 0 rgba(255, 255, 255, 1),
        112px 176px 0 0 rgba(255, 255, 255, 1),
        128px 176px 0 0 rgba(255, 255, 255, 1),
        144px 176px 0 0 rgba(255, 255, 255, 1),
        160px 176px 0 0 rgba(255, 255, 255, 1),
        176px 176px 0 0 rgba(255, 255, 255, 1),
        192px 176px 0 0 rgba(255, 255, 255, 1),
        208px 176px 0 0 rgba(255, 255, 255, 1),
        224px 176px 0 0 rgba(255, 255, 255, 1),
        240px 176px 0 0 rgba(255, 255, 255, 1),
        256px 176px 0 0 rgba(255, 255, 255, 1),
        272px 176px 0 0 rgba(0, 150, 136, 1),
        288px 176px 0 0 rgba(121, 85, 72, 1),
        304px 176px 0 0 rgba(255, 235, 59, 1),
        320px 176px 0 0 rgba(255, 235, 59, 1),
        336px 176px 0 0 rgba(255, 235, 59, 1),
        352px 176px 0 0 rgba(255, 235, 59, 1),
        368px 176px 0 0 rgba(255, 235, 59, 1),
        384px 176px 0 0 rgba(255, 235, 59, 1),
        400px 176px 0 0 rgba(121, 85, 72, 1),
        416px 176px 0 0 rgba(0, 150, 136, 1),
        432px 176px 0 0 rgba(255, 255, 255, 1),
        448px 176px 0 0 rgba(255, 255, 255, 1),
        464px 176px 0 0 rgba(255, 87, 34, 1),
        480px 176px 0 0 rgba(255, 87, 34, 1),
        496px 176px 0 0 rgba(255, 87, 34, 1),
        512px 176px 0 0 rgba(255, 255, 255, 1),
        16px 192px 0 0 rgba(255, 255, 255, 1),
        32px 192px 0 0 rgba(255, 255, 255, 1),
        48px 192px 0 0 rgba(255, 255, 255, 1),
        64px 192px 0 0 rgba(255, 255, 255, 1),
        80px 192px 0 0 rgba(255, 255, 255, 1),
        96px 192px 0 0 rgba(255, 255, 255, 1),
        112px 192px 0 0 rgba(255, 255, 255, 1),
        128px 192px 0 0 rgba(255, 255, 255, 1),
        144px 192px 0 0 rgba(255, 255, 255, 1),
        160px 192px 0 0 rgba(255, 255, 255, 1),
        176px 192px 0 0 rgba(255, 255, 255, 1),
        192px 192px 0 0 rgba(255, 255, 255, 1),
        208px 192px 0 0 rgba(255, 255, 255, 1), 224px 192px 0 0 rgba(0, 0, 0, 1),
        240px 192px 0 0 rgba(0, 0, 0, 1), 256px 192px 0 0 rgba(0, 0, 0, 1),
        272px 192px 0 0 rgba(121, 85, 72, 1),
        288px 192px 0 0 rgba(255, 235, 59, 1),
        304px 192px 0 0 rgba(255, 235, 59, 1),
        320px 192px 0 0 rgba(255, 235, 59, 1),
        336px 192px 0 0 rgba(0, 150, 136, 1),
        352px 192px 0 0 rgba(255, 235, 59, 1),
        368px 192px 0 0 rgba(255, 235, 59, 1),
        384px 192px 0 0 rgba(255, 235, 59, 1),
        400px 192px 0 0 rgba(255, 235, 59, 1),
        416px 192px 0 0 rgba(121, 85, 72, 1),
        432px 192px 0 0 rgba(0, 150, 136, 1),
        448px 192px 0 0 rgba(255, 255, 255, 1),
        464px 192px 0 0 rgba(255, 255, 255, 1),
        480px 192px 0 0 rgba(255, 87, 34, 1),
        496px 192px 0 0 rgba(255, 255, 255, 1),
        512px 192px 0 0 rgba(255, 255, 255, 1),
        16px 208px 0 0 rgba(255, 255, 255, 1),
        32px 208px 0 0 rgba(255, 255, 255, 1),
        48px 208px 0 0 rgba(255, 255, 255, 1),
        64px 208px 0 0 rgba(255, 255, 255, 1),
        80px 208px 0 0 rgba(255, 255, 255, 1),
        96px 208px 0 0 rgba(255, 255, 255, 1),
        112px 208px 0 0 rgba(255, 255, 255, 1),
        128px 208px 0 0 rgba(255, 255, 255, 1),
        144px 208px 0 0 rgba(255, 255, 255, 1),
        160px 208px 0 0 rgba(255, 255, 255, 1),
        176px 208px 0 0 rgba(255, 255, 255, 1),
        192px 208px 0 0 rgba(255, 255, 255, 1),
        208px 208px 0 0 rgba(255, 255, 255, 1), 224px 208px 0 0 rgba(0, 0, 0, 1),
        240px 208px 0 0 rgba(0, 0, 0, 1), 256px 208px 0 0 rgba(0, 150, 136, 1),
        272px 208px 0 0 rgba(121, 85, 72, 1),
        288px 208px 0 0 rgba(255, 235, 59, 1),
        304px 208px 0 0 rgba(255, 235, 59, 1),
        320px 208px 0 0 rgba(0, 150, 136, 1),
        336px 208px 0 0 rgba(255, 235, 59, 1),
        352px 208px 0 0 rgba(0, 150, 136, 1),
        368px 208px 0 0 rgba(255, 235, 59, 1),
        384px 208px 0 0 rgba(255, 235, 59, 1),
        400px 208px 0 0 rgba(255, 235, 59, 1),
        416px 208px 0 0 rgba(255, 235, 59, 1),
        432px 208px 0 0 rgba(121, 85, 72, 1),
        448px 208px 0 0 rgba(0, 150, 136, 1),
        464px 208px 0 0 rgba(255, 255, 255, 1),
        480px 208px 0 0 rgba(255, 255, 255, 1),
        496px 208px 0 0 rgba(255, 255, 255, 1),
        512px 208px 0 0 rgba(255, 255, 255, 1),
        16px 224px 0 0 rgba(255, 255, 255, 1),
        32px 224px 0 0 rgba(255, 255, 255, 1),
        48px 224px 0 0 rgba(255, 255, 255, 1),
        64px 224px 0 0 rgba(255, 255, 255, 1),
        80px 224px 0 0 rgba(255, 255, 255, 1),
        96px 224px 0 0 rgba(255, 255, 255, 1),
        112px 224px 0 0 rgba(255, 255, 255, 1),
        128px 224px 0 0 rgba(255, 255, 255, 1),
        144px 224px 0 0 rgba(255, 255, 255, 1),
        160px 224px 0 0 rgba(255, 255, 255, 1),
        176px 224px 0 0 rgba(255, 255, 255, 1),
        192px 224px 0 0 rgba(255, 255, 255, 1),
        208px 224px 0 0 rgba(255, 255, 255, 1), 224px 224px 0 0 rgba(0, 0, 0, 1),
        240px 224px 0 0 rgba(0, 150, 136, 1),
        256px 224px 0 0 rgba(121, 85, 72, 1),
        272px 224px 0 0 rgba(255, 235, 59, 1),
        288px 224px 0 0 rgba(255, 235, 59, 1),
        304px 224px 0 0 rgba(255, 235, 59, 1),
        320px 224px 0 0 rgba(255, 235, 59, 1),
        336px 224px 0 0 rgba(255, 235, 59, 1),
        352px 224px 0 0 rgba(255, 235, 59, 1),
        368px 224px 0 0 rgba(255, 235, 59, 1),
        384px 224px 0 0 rgba(255, 235, 59, 1),
        400px 224px 0 0 rgba(255, 235, 59, 1),
        416px 224px 0 0 rgba(255, 235, 59, 1),
        432px 224px 0 0 rgba(121, 85, 72, 1),
        448px 224px 0 0 rgba(0, 150, 136, 1),
        464px 224px 0 0 rgba(255, 255, 255, 1),
        480px 224px 0 0 rgba(255, 255, 255, 1),
        496px 224px 0 0 rgba(255, 255, 255, 1),
        512px 224px 0 0 rgba(255, 255, 255, 1),
        16px 240px 0 0 rgba(255, 255, 255, 1),
        32px 240px 0 0 rgba(255, 255, 255, 1),
        48px 240px 0 0 rgba(255, 255, 255, 1),
        64px 240px 0 0 rgba(255, 255, 255, 1),
        80px 240px 0 0 rgba(255, 255, 255, 1),
        96px 240px 0 0 rgba(255, 255, 255, 1),
        112px 240px 0 0 rgba(255, 255, 255, 1),
        128px 240px 0 0 rgba(255, 255, 255, 1),
        144px 240px 0 0 rgba(255, 255, 255, 1),
        160px 240px 0 0 rgba(255, 255, 255, 1), 176px 240px 0 0 rgba(0, 0, 0, 1),
        192px 240px 0 0 rgba(0, 0, 0, 1), 208px 240px 0 0 rgba(0, 0, 0, 1),
        224px 240px 0 0 rgba(0, 150, 136, 1),
        240px 240px 0 0 rgba(121, 85, 72, 1),
        256px 240px 0 0 rgba(255, 235, 59, 1),
        272px 240px 0 0 rgba(255, 235, 59, 1),
        288px 240px 0 0 rgba(255, 235, 59, 1),
        304px 240px 0 0 rgba(255, 235, 59, 1),
        320px 240px 0 0 rgba(255, 235, 59, 1),
        336px 240px 0 0 rgba(255, 235, 59, 1),
        352px 240px 0 0 rgba(255, 235, 59, 1),
        368px 240px 0 0 rgba(255, 235, 59, 1),
        384px 240px 0 0 rgba(255, 235, 59, 1),
        400px 240px 0 0 rgba(255, 235, 59, 1),
        416px 240px 0 0 rgba(121, 85, 72, 1),
        432px 240px 0 0 rgba(0, 150, 136, 1),
        448px 240px 0 0 rgba(255, 255, 255, 1),
        464px 240px 0 0 rgba(255, 255, 255, 1),
        480px 240px 0 0 rgba(255, 255, 255, 1),
        496px 240px 0 0 rgba(255, 255, 255, 1),
        512px 240px 0 0 rgba(255, 255, 255, 1),
        16px 256px 0 0 rgba(255, 255, 255, 1),
        32px 256px 0 0 rgba(255, 255, 255, 1),
        48px 256px 0 0 rgba(0, 150, 136, 1), 64px 256px 0 0 rgba(0, 150, 136, 1),
        80px 256px 0 0 rgba(255, 255, 255, 1),
        96px 256px 0 0 rgba(255, 255, 255, 1),
        112px 256px 0 0 rgba(255, 255, 255, 1),
        128px 256px 0 0 rgba(255, 255, 255, 1),
        144px 256px 0 0 rgba(255, 255, 255, 1),
        160px 256px 0 0 rgba(255, 255, 255, 1), 176px 256px 0 0 rgba(0, 0, 0, 1),
        192px 256px 0 0 rgba(0, 0, 0, 1), 208px 256px 0 0 rgba(0, 150, 136, 1),
        224px 256px 0 0 rgba(121, 85, 72, 1),
        240px 256px 0 0 rgba(255, 235, 59, 1),
        256px 256px 0 0 rgba(255, 235, 59, 1),
        272px 256px 0 0 rgba(255, 235, 59, 1),
        288px 256px 0 0 rgba(255, 235, 59, 1),
        304px 256px 0 0 rgba(255, 235, 59, 1),
        320px 256px 0 0 rgba(255, 235, 59, 1),
        336px 256px 0 0 rgba(255, 235, 59, 1),
        352px 256px 0 0 rgba(255, 235, 59, 1),
        368px 256px 0 0 rgba(255, 235, 59, 1),
        384px 256px 0 0 rgba(255, 235, 59, 1),
        400px 256px 0 0 rgba(255, 235, 59, 1),
        416px 256px 0 0 rgba(255, 235, 59, 1),
        432px 256px 0 0 rgba(121, 85, 72, 1),
        448px 256px 0 0 rgba(0, 150, 136, 1),
        464px 256px 0 0 rgba(255, 255, 255, 1),
        480px 256px 0 0 rgba(255, 255, 255, 1),
        496px 256px 0 0 rgba(255, 255, 255, 1),
        512px 256px 0 0 rgba(255, 255, 255, 1),
        16px 272px 0 0 rgba(255, 255, 255, 1),
        32px 272px 0 0 rgba(0, 150, 136, 1), 48px 272px 0 0 rgba(121, 85, 72, 1),
        64px 272px 0 0 rgba(121, 85, 72, 1), 80px 272px 0 0 rgba(0, 150, 136, 1),
        96px 272px 0 0 rgba(255, 255, 255, 1),
        112px 272px 0 0 rgba(255, 255, 255, 1),
        128px 272px 0 0 rgba(255, 255, 255, 1),
        144px 272px 0 0 rgba(255, 255, 255, 1),
        160px 272px 0 0 rgba(255, 255, 255, 1), 176px 272px 0 0 rgba(0, 0, 0, 1),
        192px 272px 0 0 rgba(0, 150, 136, 1),
        208px 272px 0 0 rgba(121, 85, 72, 1),
        224px 272px 0 0 rgba(255, 235, 59, 1),
        240px 272px 0 0 rgba(255, 235, 59, 1),
        256px 272px 0 0 rgba(255, 235, 59, 1),
        272px 272px 0 0 rgba(255, 235, 59, 1),
        288px 272px 0 0 rgba(255, 235, 59, 1),
        304px 272px 0 0 rgba(63, 81, 181, 1),
        320px 272px 0 0 rgba(63, 81, 181, 1),
        336px 272px 0 0 rgba(63, 81, 181, 1),
        352px 272px 0 0 rgba(0, 150, 136, 1),
        368px 272px 0 0 rgba(0, 150, 136, 1),
        384px 272px 0 0 rgba(0, 150, 136, 1),
        400px 272px 0 0 rgba(0, 150, 136, 1),
        416px 272px 0 0 rgba(0, 150, 136, 1),
        432px 272px 0 0 rgba(0, 150, 136, 1),
        448px 272px 0 0 rgba(255, 255, 255, 1),
        464px 272px 0 0 rgba(255, 255, 255, 1),
        480px 272px 0 0 rgba(255, 255, 255, 1),
        496px 272px 0 0 rgba(255, 255, 255, 1),
        512px 272px 0 0 rgba(255, 255, 255, 1),
        16px 288px 0 0 rgba(0, 150, 136, 1), 32px 288px 0 0 rgba(121, 85, 72, 1),
        48px 288px 0 0 rgba(255, 235, 59, 1),
        64px 288px 0 0 rgba(121, 85, 72, 1), 80px 288px 0 0 rgba(0, 150, 136, 1),
        96px 288px 0 0 rgba(255, 255, 255, 1),
        112px 288px 0 0 rgba(255, 255, 255, 1), 128px 288px 0 0 rgba(0, 0, 0, 1),
        144px 288px 0 0 rgba(0, 0, 0, 1), 160px 288px 0 0 rgba(0, 0, 0, 1),
        176px 288px 0 0 rgba(0, 150, 136, 1),
        192px 288px 0 0 rgba(121, 85, 72, 1),
        208px 288px 0 0 rgba(255, 235, 59, 1),
        224px 288px 0 0 rgba(255, 235, 59, 1),
        240px 288px 0 0 rgba(255, 235, 59, 1),
        256px 288px 0 0 rgba(255, 235, 59, 1),
        272px 288px 0 0 rgba(121, 85, 72, 1),
        288px 288px 0 0 rgba(63, 81, 181, 1),
        304px 288px 0 0 rgba(63, 81, 181, 1),
        320px 288px 0 0 rgba(63, 81, 181, 1),
        336px 288px 0 0 rgba(63, 81, 181, 1),
        352px 288px 0 0 rgba(0, 150, 136, 1),
        368px 288px 0 0 rgba(255, 255, 255, 1),
        384px 288px 0 0 rgba(255, 255, 255, 1),
        400px 288px 0 0 rgba(255, 255, 255, 1),
        416px 288px 0 0 rgba(255, 255, 255, 1),
        432px 288px 0 0 rgba(255, 255, 255, 1),
        448px 288px 0 0 rgba(255, 255, 255, 1),
        464px 288px 0 0 rgba(255, 255, 255, 1),
        480px 288px 0 0 rgba(255, 255, 255, 1),
        496px 288px 0 0 rgba(255, 255, 255, 1),
        512px 288px 0 0 rgba(255, 255, 255, 1),
        16px 304px 0 0 rgba(0, 150, 136, 1),
        32px 304px 0 0 rgba(255, 235, 59, 1),
        48px 304px 0 0 rgba(255, 235, 59, 1),
        64px 304px 0 0 rgba(0, 150, 136, 1),
        80px 304px 0 0 rgba(255, 255, 255, 1),
        96px 304px 0 0 rgba(255, 255, 255, 1),
        112px 304px 0 0 rgba(255, 255, 255, 1), 128px 304px 0 0 rgba(0, 0, 0, 1),
        144px 304px 0 0 rgba(0, 0, 0, 1), 160px 304px 0 0 rgba(0, 150, 136, 1),
        176px 304px 0 0 rgba(121, 85, 72, 1),
        192px 304px 0 0 rgba(255, 235, 59, 1),
        208px 304px 0 0 rgba(255, 235, 59, 1),
        224px 304px 0 0 rgba(255, 235, 59, 1),
        240px 304px 0 0 rgba(255, 235, 59, 1),
        256px 304px 0 0 rgba(255, 235, 59, 1),
        272px 304px 0 0 rgba(121, 85, 72, 1),
        288px 304px 0 0 rgba(63, 81, 181, 1),
        304px 304px 0 0 rgba(63, 81, 181, 1),
        320px 304px 0 0 rgba(63, 81, 181, 1),
        336px 304px 0 0 rgba(63, 81, 181, 1),
        352px 304px 0 0 rgba(121, 85, 72, 1),
        368px 304px 0 0 rgba(0, 150, 136, 1),
        384px 304px 0 0 rgba(255, 255, 255, 1),
        400px 304px 0 0 rgba(255, 255, 255, 1),
        416px 304px 0 0 rgba(255, 255, 255, 1),
        432px 304px 0 0 rgba(255, 255, 255, 1),
        448px 304px 0 0 rgba(255, 255, 255, 1),
        464px 304px 0 0 rgba(255, 255, 255, 1),
        480px 304px 0 0 rgba(255, 255, 255, 1),
        496px 304px 0 0 rgba(255, 255, 255, 1),
        512px 304px 0 0 rgba(255, 255, 255, 1),
        16px 320px 0 0 rgba(0, 150, 136, 1),
        32px 320px 0 0 rgba(255, 235, 59, 1),
        48px 320px 0 0 rgba(255, 235, 59, 1),
        64px 320px 0 0 rgba(0, 150, 136, 1),
        80px 320px 0 0 rgba(255, 255, 255, 1),
        96px 320px 0 0 rgba(255, 255, 255, 1),
        112px 320px 0 0 rgba(255, 255, 255, 1), 128px 320px 0 0 rgba(0, 0, 0, 1),
        144px 320px 0 0 rgba(0, 150, 136, 1),
        160px 320px 0 0 rgba(121, 85, 72, 1),
        176px 320px 0 0 rgba(255, 235, 59, 1),
        192px 320px 0 0 rgba(255, 235, 59, 1),
        208px 320px 0 0 rgba(255, 235, 59, 1),
        224px 320px 0 0 rgba(255, 235, 59, 1),
        240px 320px 0 0 rgba(255, 235, 59, 1),
        256px 320px 0 0 rgba(255, 235, 59, 1),
        272px 320px 0 0 rgba(255, 235, 59, 1),
        288px 320px 0 0 rgba(121, 85, 72, 1),
        304px 320px 0 0 rgba(63, 81, 181, 1),
        320px 320px 0 0 rgba(63, 81, 181, 1),
        336px 320px 0 0 rgba(63, 81, 181, 1),
        352px 320px 0 0 rgba(255, 235, 59, 1),
        368px 320px 0 0 rgba(121, 85, 72, 1),
        384px 320px 0 0 rgba(0, 150, 136, 1),
        400px 320px 0 0 rgba(255, 255, 255, 1),
        416px 320px 0 0 rgba(255, 255, 255, 1),
        432px 320px 0 0 rgba(255, 255, 255, 1),
        448px 320px 0 0 rgba(255, 255, 255, 1),
        464px 320px 0 0 rgba(255, 255, 255, 1),
        480px 320px 0 0 rgba(255, 255, 255, 1),
        496px 320px 0 0 rgba(255, 255, 255, 1),
        512px 320px 0 0 rgba(255, 255, 255, 1),
        16px 336px 0 0 rgba(0, 150, 136, 1),
        32px 336px 0 0 rgba(255, 235, 59, 1),
        48px 336px 0 0 rgba(255, 235, 59, 1),
        64px 336px 0 0 rgba(121, 85, 72, 1), 80px 336px 0 0 rgba(0, 150, 136, 1),
        96px 336px 0 0 rgba(255, 255, 255, 1),
        112px 336px 0 0 rgba(255, 255, 255, 1),
        128px 336px 0 0 rgba(0, 150, 136, 1),
        144px 336px 0 0 rgba(121, 85, 72, 1),
        160px 336px 0 0 rgba(255, 235, 59, 1),
        176px 336px 0 0 rgba(255, 235, 59, 1),
        192px 336px 0 0 rgba(255, 235, 59, 1),
        208px 336px 0 0 rgba(255, 235, 59, 1),
        224px 336px 0 0 rgba(121, 85, 72, 1),
        240px 336px 0 0 rgba(121, 85, 72, 1),
        256px 336px 0 0 rgba(255, 235, 59, 1),
        272px 336px 0 0 rgba(255, 235, 59, 1),
        288px 336px 0 0 rgba(255, 235, 59, 1),
        304px 336px 0 0 rgba(121, 85, 72, 1),
        320px 336px 0 0 rgba(63, 81, 181, 1),
        336px 336px 0 0 rgba(63, 81, 181, 1),
        352px 336px 0 0 rgba(255, 235, 59, 1),
        368px 336px 0 0 rgba(255, 235, 59, 1),
        384px 336px 0 0 rgba(121, 85, 72, 1),
        400px 336px 0 0 rgba(0, 150, 136, 1),
        416px 336px 0 0 rgba(255, 255, 255, 1),
        432px 336px 0 0 rgba(255, 255, 255, 1),
        448px 336px 0 0 rgba(255, 255, 255, 1),
        464px 336px 0 0 rgba(255, 255, 255, 1),
        480px 336px 0 0 rgba(255, 255, 255, 1),
        496px 336px 0 0 rgba(255, 255, 255, 1),
        512px 336px 0 0 rgba(255, 255, 255, 1),
        16px 352px 0 0 rgba(0, 150, 136, 1),
        32px 352px 0 0 rgba(255, 235, 59, 1),
        48px 352px 0 0 rgba(255, 235, 59, 1),
        64px 352px 0 0 rgba(255, 235, 59, 1),
        80px 352px 0 0 rgba(0, 150, 136, 1),
        96px 352px 0 0 rgba(255, 255, 255, 1),
        112px 352px 0 0 rgba(0, 150, 136, 1),
        128px 352px 0 0 rgba(121, 85, 72, 1),
        144px 352px 0 0 rgba(255, 235, 59, 1),
        160px 352px 0 0 rgba(255, 235, 59, 1),
        176px 352px 0 0 rgba(255, 235, 59, 1),
        192px 352px 0 0 rgba(255, 235, 59, 1),
        208px 352px 0 0 rgba(255, 235, 59, 1),
        224px 352px 0 0 rgba(63, 81, 181, 1),
        240px 352px 0 0 rgba(63, 81, 181, 1),
        256px 352px 0 0 rgba(121, 85, 72, 1),
        272px 352px 0 0 rgba(255, 235, 59, 1),
        288px 352px 0 0 rgba(255, 235, 59, 1),
        304px 352px 0 0 rgba(255, 235, 59, 1),
        320px 352px 0 0 rgba(121, 85, 72, 1),
        336px 352px 0 0 rgba(63, 81, 181, 1),
        352px 352px 0 0 rgba(255, 235, 59, 1),
        368px 352px 0 0 rgba(255, 235, 59, 1),
        384px 352px 0 0 rgba(121, 85, 72, 1),
        400px 352px 0 0 rgba(0, 150, 136, 1),
        416px 352px 0 0 rgba(255, 255, 255, 1),
        432px 352px 0 0 rgba(255, 255, 255, 1),
        448px 352px 0 0 rgba(255, 255, 255, 1),
        464px 352px 0 0 rgba(255, 255, 255, 1),
        480px 352px 0 0 rgba(255, 255, 255, 1),
        496px 352px 0 0 rgba(255, 255, 255, 1),
        512px 352px 0 0 rgba(255, 255, 255, 1),
        16px 368px 0 0 rgba(0, 150, 136, 1),
        32px 368px 0 0 rgba(255, 235, 59, 1),
        48px 368px 0 0 rgba(255, 235, 59, 1),
        64px 368px 0 0 rgba(255, 235, 59, 1),
        80px 368px 0 0 rgba(0, 150, 136, 1), 96px 368px 0 0 rgba(0, 150, 136, 1),
        112px 368px 0 0 rgba(121, 85, 72, 1),
        128px 368px 0 0 rgba(255, 235, 59, 1),
        144px 368px 0 0 rgba(255, 235, 59, 1),
        160px 368px 0 0 rgba(255, 235, 59, 1),
        176px 368px 0 0 rgba(255, 235, 59, 1),
        192px 368px 0 0 rgba(255, 235, 59, 1),
        208px 368px 0 0 rgba(255, 235, 59, 1),
        224px 368px 0 0 rgba(63, 81, 181, 1),
        240px 368px 0 0 rgba(63, 81, 181, 1),
        256px 368px 0 0 rgba(63, 81, 181, 1),
        272px 368px 0 0 rgba(121, 85, 72, 1),
        288px 368px 0 0 rgba(255, 235, 59, 1),
        304px 368px 0 0 rgba(255, 235, 59, 1),
        320px 368px 0 0 rgba(121, 85, 72, 1),
        336px 368px 0 0 rgba(0, 150, 136, 1),
        352px 368px 0 0 rgba(121, 85, 72, 1),
        368px 368px 0 0 rgba(121, 85, 72, 1),
        384px 368px 0 0 rgba(0, 150, 136, 1),
        400px 368px 0 0 rgba(255, 255, 255, 1),
        416px 368px 0 0 rgba(255, 255, 255, 1),
        432px 368px 0 0 rgba(255, 255, 255, 1),
        448px 368px 0 0 rgba(255, 255, 255, 1),
        464px 368px 0 0 rgba(255, 255, 255, 1),
        480px 368px 0 0 rgba(255, 255, 255, 1),
        496px 368px 0 0 rgba(255, 255, 255, 1),
        512px 368px 0 0 rgba(255, 255, 255, 1),
        16px 384px 0 0 rgba(0, 150, 136, 1), 32px 384px 0 0 rgba(121, 85, 72, 1),
        48px 384px 0 0 rgba(255, 235, 59, 1),
        64px 384px 0 0 rgba(255, 235, 59, 1),
        80px 384px 0 0 rgba(121, 85, 72, 1), 96px 384px 0 0 rgba(121, 85, 72, 1),
        112px 384px 0 0 rgba(255, 235, 59, 1),
        128px 384px 0 0 rgba(255, 235, 59, 1),
        144px 384px 0 0 rgba(255, 235, 59, 1),
        160px 384px 0 0 rgba(255, 235, 59, 1),
        176px 384px 0 0 rgba(255, 235, 59, 1),
        192px 384px 0 0 rgba(255, 235, 59, 1),
        208px 384px 0 0 rgba(255, 235, 59, 1),
        224px 384px 0 0 rgba(63, 81, 181, 1),
        240px 384px 0 0 rgba(63, 81, 181, 1),
        256px 384px 0 0 rgba(63, 81, 181, 1),
        272px 384px 0 0 rgba(63, 81, 181, 1),
        288px 384px 0 0 rgba(121, 85, 72, 1),
        304px 384px 0 0 rgba(121, 85, 72, 1),
        320px 384px 0 0 rgba(0, 150, 136, 1),
        336px 384px 0 0 rgba(255, 255, 255, 1),
        352px 384px 0 0 rgba(0, 150, 136, 1),
        368px 384px 0 0 rgba(0, 150, 136, 1),
        384px 384px 0 0 rgba(255, 255, 255, 1),
        400px 384px 0 0 rgba(255, 255, 255, 1),
        416px 384px 0 0 rgba(255, 255, 255, 1),
        432px 384px 0 0 rgba(255, 255, 255, 1),
        448px 384px 0 0 rgba(255, 255, 255, 1),
        464px 384px 0 0 rgba(255, 255, 255, 1),
        480px 384px 0 0 rgba(255, 255, 255, 1),
        496px 384px 0 0 rgba(255, 255, 255, 1),
        512px 384px 0 0 rgba(255, 255, 255, 1),
        16px 400px 0 0 rgba(255, 255, 255, 1),
        32px 400px 0 0 rgba(0, 150, 136, 1),
        48px 400px 0 0 rgba(255, 235, 59, 1),
        64px 400px 0 0 rgba(255, 235, 59, 1),
        80px 400px 0 0 rgba(255, 235, 59, 1),
        96px 400px 0 0 rgba(255, 235, 59, 1),
        112px 400px 0 0 rgba(255, 235, 59, 1),
        128px 400px 0 0 rgba(255, 235, 59, 1),
        144px 400px 0 0 rgba(255, 235, 59, 1),
        160px 400px 0 0 rgba(255, 235, 59, 1),
        176px 400px 0 0 rgba(255, 235, 59, 1),
        192px 400px 0 0 rgba(255, 235, 59, 1),
        208px 400px 0 0 rgba(255, 235, 59, 1),
        224px 400px 0 0 rgba(63, 81, 181, 1),
        240px 400px 0 0 rgba(63, 81, 181, 1),
        256px 400px 0 0 rgba(63, 81, 181, 1),
        272px 400px 0 0 rgba(63, 81, 181, 1),
        288px 400px 0 0 rgba(63, 81, 181, 1),
        304px 400px 0 0 rgba(63, 81, 181, 1),
        320px 400px 0 0 rgba(0, 150, 136, 1),
        336px 400px 0 0 rgba(255, 255, 255, 1),
        352px 400px 0 0 rgba(255, 255, 255, 1),
        368px 400px 0 0 rgba(255, 255, 255, 1),
        384px 400px 0 0 rgba(255, 255, 255, 1),
        400px 400px 0 0 rgba(255, 255, 255, 1),
        416px 400px 0 0 rgba(255, 255, 255, 1),
        432px 400px 0 0 rgba(255, 255, 255, 1),
        448px 400px 0 0 rgba(255, 255, 255, 1),
        464px 400px 0 0 rgba(255, 255, 255, 1),
        480px 400px 0 0 rgba(255, 255, 255, 1),
        496px 400px 0 0 rgba(255, 255, 255, 1),
        512px 400px 0 0 rgba(255, 255, 255, 1),
        16px 416px 0 0 rgba(255, 255, 255, 1),
        32px 416px 0 0 rgba(0, 150, 136, 1),
        48px 416px 0 0 rgba(255, 235, 59, 1),
        64px 416px 0 0 rgba(255, 235, 59, 1),
        80px 416px 0 0 rgba(255, 235, 59, 1),
        96px 416px 0 0 rgba(255, 235, 59, 1),
        112px 416px 0 0 rgba(255, 235, 59, 1),
        128px 416px 0 0 rgba(255, 235, 59, 1),
        144px 416px 0 0 rgba(255, 235, 59, 1),
        160px 416px 0 0 rgba(255, 235, 59, 1),
        176px 416px 0 0 rgba(255, 235, 59, 1),
        192px 416px 0 0 rgba(255, 235, 59, 1),
        208px 416px 0 0 rgba(255, 235, 59, 1),
        224px 416px 0 0 rgba(63, 81, 181, 1),
        240px 416px 0 0 rgba(63, 81, 181, 1),
        256px 416px 0 0 rgba(63, 81, 181, 1),
        272px 416px 0 0 rgba(63, 81, 181, 1),
        288px 416px 0 0 rgba(63, 81, 181, 1),
        304px 416px 0 0 rgba(63, 81, 181, 1),
        320px 416px 0 0 rgba(0, 150, 136, 1),
        336px 416px 0 0 rgba(255, 255, 255, 1),
        352px 416px 0 0 rgba(255, 255, 255, 1),
        368px 416px 0 0 rgba(255, 255, 255, 1),
        384px 416px 0 0 rgba(255, 255, 255, 1),
        400px 416px 0 0 rgba(255, 255, 255, 1),
        416px 416px 0 0 rgba(255, 255, 255, 1),
        432px 416px 0 0 rgba(255, 255, 255, 1),
        448px 416px 0 0 rgba(255, 255, 255, 1),
        464px 416px 0 0 rgba(255, 255, 255, 1),
        480px 416px 0 0 rgba(255, 255, 255, 1),
        496px 416px 0 0 rgba(255, 255, 255, 1),
        512px 416px 0 0 rgba(255, 255, 255, 1),
        16px 432px 0 0 rgba(255, 255, 255, 1),
        32px 432px 0 0 rgba(0, 150, 136, 1), 48px 432px 0 0 rgba(121, 85, 72, 1),
        64px 432px 0 0 rgba(255, 235, 59, 1),
        80px 432px 0 0 rgba(255, 235, 59, 1),
        96px 432px 0 0 rgba(255, 235, 59, 1),
        112px 432px 0 0 rgba(255, 235, 59, 1),
        128px 432px 0 0 rgba(255, 235, 59, 1),
        144px 432px 0 0 rgba(255, 235, 59, 1),
        160px 432px 0 0 rgba(121, 85, 72, 1),
        176px 432px 0 0 rgba(121, 85, 72, 1),
        192px 432px 0 0 rgba(255, 235, 59, 1),
        208px 432px 0 0 rgba(255, 235, 59, 1),
        224px 432px 0 0 rgba(0, 150, 136, 1),
        240px 432px 0 0 rgba(255, 255, 255, 1),
        256px 432px 0 0 rgba(255, 255, 255, 1),
        272px 432px 0 0 rgba(255, 235, 59, 1),
        288px 432px 0 0 rgba(255, 235, 59, 1),
        304px 432px 0 0 rgba(0, 150, 136, 1),
        320px 432px 0 0 rgba(255, 255, 255, 1),
        336px 432px 0 0 rgba(255, 255, 255, 1),
        352px 432px 0 0 rgba(255, 255, 255, 1),
        368px 432px 0 0 rgba(255, 255, 255, 1),
        384px 432px 0 0 rgba(255, 255, 255, 1),
        400px 432px 0 0 rgba(255, 255, 255, 1),
        416px 432px 0 0 rgba(255, 255, 255, 1),
        432px 432px 0 0 rgba(255, 255, 255, 1),
        448px 432px 0 0 rgba(255, 255, 255, 1),
        464px 432px 0 0 rgba(255, 255, 255, 1),
        480px 432px 0 0 rgba(255, 255, 255, 1),
        496px 432px 0 0 rgba(255, 255, 255, 1),
        512px 432px 0 0 rgba(255, 255, 255, 1),
        16px 448px 0 0 rgba(255, 255, 255, 1),
        32px 448px 0 0 rgba(255, 255, 255, 1),
        48px 448px 0 0 rgba(0, 150, 136, 1), 64px 448px 0 0 rgba(121, 85, 72, 1),
        80px 448px 0 0 rgba(255, 235, 59, 1),
        96px 448px 0 0 rgba(255, 235, 59, 1),
        112px 448px 0 0 rgba(255, 235, 59, 1),
        128px 448px 0 0 rgba(255, 235, 59, 1),
        144px 448px 0 0 rgba(121, 85, 72, 1),
        160px 448px 0 0 rgba(0, 150, 136, 1),
        176px 448px 0 0 rgba(0, 150, 136, 1),
        192px 448px 0 0 rgba(255, 235, 59, 1),
        208px 448px 0 0 rgba(255, 235, 59, 1),
        224px 448px 0 0 rgba(0, 150, 136, 1),
        240px 448px 0 0 rgba(0, 150, 136, 1),
        256px 448px 0 0 rgba(255, 255, 255, 1),
        272px 448px 0 0 rgba(255, 235, 59, 1),
        288px 448px 0 0 rgba(255, 235, 59, 1),
        304px 448px 0 0 rgba(121, 85, 72, 1),
        320px 448px 0 0 rgba(0, 150, 136, 1),
        336px 448px 0 0 rgba(255, 255, 255, 1),
        352px 448px 0 0 rgba(255, 255, 255, 1),
        368px 448px 0 0 rgba(255, 255, 255, 1),
        384px 448px 0 0 rgba(255, 255, 255, 1),
        400px 448px 0 0 rgba(255, 255, 255, 1),
        416px 448px 0 0 rgba(255, 255, 255, 1),
        432px 448px 0 0 rgba(255, 255, 255, 1),
        448px 448px 0 0 rgba(255, 255, 255, 1),
        464px 448px 0 0 rgba(255, 255, 255, 1),
        480px 448px 0 0 rgba(255, 255, 255, 1),
        496px 448px 0 0 rgba(255, 255, 255, 1),
        512px 448px 0 0 rgba(255, 255, 255, 1),
        16px 464px 0 0 rgba(255, 255, 255, 1),
        32px 464px 0 0 rgba(255, 255, 255, 1),
        48px 464px 0 0 rgba(255, 255, 255, 1),
        64px 464px 0 0 rgba(0, 150, 136, 1), 80px 464px 0 0 rgba(0, 150, 136, 1),
        96px 464px 0 0 rgba(0, 150, 136, 1),
        112px 464px 0 0 rgba(0, 150, 136, 1),
        128px 464px 0 0 rgba(0, 150, 136, 1),
        144px 464px 0 0 rgba(0, 150, 136, 1),
        160px 464px 0 0 rgba(255, 255, 255, 1),
        176px 464px 0 0 rgba(0, 150, 136, 1),
        192px 464px 0 0 rgba(255, 235, 59, 1),
        208px 464px 0 0 rgba(255, 235, 59, 1),
        224px 464px 0 0 rgba(255, 235, 59, 1),
        240px 464px 0 0 rgba(121, 85, 72, 1),
        256px 464px 0 0 rgba(0, 150, 136, 1),
        272px 464px 0 0 rgba(255, 235, 59, 1),
        288px 464px 0 0 rgba(255, 235, 59, 1),
        304px 464px 0 0 rgba(255, 235, 59, 1),
        320px 464px 0 0 rgba(121, 85, 72, 1),
        336px 464px 0 0 rgba(0, 150, 136, 1),
        352px 464px 0 0 rgba(255, 255, 255, 1),
        368px 464px 0 0 rgba(255, 255, 255, 1),
        384px 464px 0 0 rgba(255, 255, 255, 1),
        400px 464px 0 0 rgba(255, 255, 255, 1),
        416px 464px 0 0 rgba(255, 255, 255, 1),
        432px 464px 0 0 rgba(255, 255, 255, 1),
        448px 464px 0 0 rgba(255, 255, 255, 1),
        464px 464px 0 0 rgba(255, 255, 255, 1),
        480px 464px 0 0 rgba(255, 255, 255, 1),
        496px 464px 0 0 rgba(255, 255, 255, 1),
        512px 464px 0 0 rgba(255, 255, 255, 1),
        16px 480px 0 0 rgba(255, 255, 255, 1),
        32px 480px 0 0 rgba(255, 255, 255, 1),
        48px 480px 0 0 rgba(255, 255, 255, 1),
        64px 480px 0 0 rgba(255, 255, 255, 1),
        80px 480px 0 0 rgba(255, 255, 255, 1),
        96px 480px 0 0 rgba(255, 255, 255, 1),
        112px 480px 0 0 rgba(255, 255, 255, 1),
        128px 480px 0 0 rgba(255, 255, 255, 1),
        144px 480px 0 0 rgba(255, 255, 255, 1),
        160px 480px 0 0 rgba(255, 255, 255, 1),
        176px 480px 0 0 rgba(0, 150, 136, 1),
        192px 480px 0 0 rgba(121, 85, 72, 1),
        208px 480px 0 0 rgba(255, 235, 59, 1),
        224px 480px 0 0 rgba(255, 235, 59, 1),
        240px 480px 0 0 rgba(255, 235, 59, 1),
        256px 480px 0 0 rgba(0, 150, 136, 1),
        272px 480px 0 0 rgba(121, 85, 72, 1),
        288px 480px 0 0 rgba(255, 235, 59, 1),
        304px 480px 0 0 rgba(255, 235, 59, 1),
        320px 480px 0 0 rgba(255, 235, 59, 1),
        336px 480px 0 0 rgba(0, 150, 136, 1),
        352px 480px 0 0 rgba(255, 255, 255, 1),
        368px 480px 0 0 rgba(255, 255, 255, 1),
        384px 480px 0 0 rgba(255, 255, 255, 1),
        400px 480px 0 0 rgba(255, 255, 255, 1),
        416px 480px 0 0 rgba(255, 255, 255, 1),
        432px 480px 0 0 rgba(255, 255, 255, 1),
        448px 480px 0 0 rgba(255, 255, 255, 1),
        464px 480px 0 0 rgba(255, 255, 255, 1),
        480px 480px 0 0 rgba(255, 255, 255, 1),
        496px 480px 0 0 rgba(255, 255, 255, 1),
        512px 480px 0 0 rgba(255, 255, 255, 1),
        16px 496px 0 0 rgba(255, 255, 255, 1),
        32px 496px 0 0 rgba(255, 255, 255, 1),
        48px 496px 0 0 rgba(255, 255, 255, 1),
        64px 496px 0 0 rgba(255, 255, 255, 1),
        80px 496px 0 0 rgba(255, 255, 255, 1),
        96px 496px 0 0 rgba(255, 255, 255, 1),
        112px 496px 0 0 rgba(255, 255, 255, 1),
        128px 496px 0 0 rgba(255, 255, 255, 1),
        144px 496px 0 0 rgba(255, 255, 255, 1),
        160px 496px 0 0 rgba(255, 255, 255, 1),
        176px 496px 0 0 rgba(255, 255, 255, 1),
        192px 496px 0 0 rgba(255, 255, 255, 1),
        208px 496px 0 0 rgba(0, 150, 136, 1),
        224px 496px 0 0 rgba(0, 150, 136, 1),
        240px 496px 0 0 rgba(0, 150, 136, 1),
        256px 496px 0 0 rgba(255, 255, 255, 1),
        272px 496px 0 0 rgba(0, 150, 136, 1),
        288px 496px 0 0 rgba(0, 150, 136, 1),
        304px 496px 0 0 rgba(0, 150, 136, 1),
        320px 496px 0 0 rgba(0, 150, 136, 1),
        336px 496px 0 0 rgba(255, 255, 255, 1),
        352px 496px 0 0 rgba(255, 255, 255, 1),
        368px 496px 0 0 rgba(255, 255, 255, 1),
        384px 496px 0 0 rgba(255, 255, 255, 1),
        400px 496px 0 0 rgba(255, 255, 255, 1),
        416px 496px 0 0 rgba(255, 255, 255, 1),
        432px 496px 0 0 rgba(255, 255, 255, 1),
        448px 496px 0 0 rgba(255, 255, 255, 1),
        464px 496px 0 0 rgba(255, 255, 255, 1),
        480px 496px 0 0 rgba(255, 255, 255, 1),
        496px 496px 0 0 rgba(255, 255, 255, 1),
        512px 496px 0 0 rgba(255, 255, 255, 1),
        16px 512px 0 0 rgba(255, 255, 255, 1),
        32px 512px 0 0 rgba(255, 255, 255, 1),
        48px 512px 0 0 rgba(255, 255, 255, 1),
        64px 512px 0 0 rgba(255, 255, 255, 1),
        80px 512px 0 0 rgba(255, 255, 255, 1),
        96px 512px 0 0 rgba(255, 255, 255, 1),
        112px 512px 0 0 rgba(255, 255, 255, 1),
        128px 512px 0 0 rgba(255, 255, 255, 1),
        144px 512px 0 0 rgba(255, 255, 255, 1),
        160px 512px 0 0 rgba(255, 255, 255, 1),
        176px 512px 0 0 rgba(255, 255, 255, 1),
        192px 512px 0 0 rgba(255, 255, 255, 1),
        208px 512px 0 0 rgba(255, 255, 255, 1),
        224px 512px 0 0 rgba(255, 255, 255, 1),
        240px 512px 0 0 rgba(255, 255, 255, 1),
        256px 512px 0 0 rgba(255, 255, 255, 1),
        272px 512px 0 0 rgba(255, 255, 255, 1),
        288px 512px 0 0 rgba(255, 255, 255, 1),
        304px 512px 0 0 rgba(255, 255, 255, 1),
        320px 512px 0 0 rgba(255, 255, 255, 1),
        336px 512px 0 0 rgba(255, 255, 255, 1),
        352px 512px 0 0 rgba(255, 255, 255, 1),
        368px 512px 0 0 rgba(255, 255, 255, 1),
        384px 512px 0 0 rgba(255, 255, 255, 1),
        400px 512px 0 0 rgba(255, 255, 255, 1),
        416px 512px 0 0 rgba(255, 255, 255, 1),
        432px 512px 0 0 rgba(255, 255, 255, 1),
        448px 512px 0 0 rgba(255, 255, 255, 1),
        464px 512px 0 0 rgba(255, 255, 255, 1),
        480px 512px 0 0 rgba(255, 255, 255, 1),
        496px 512px 0 0 rgba(255, 255, 255, 1),
        512px 512px 0 0 rgba(255, 255, 255, 1);
    height: 16px;
    width: 16px;
}
